<?xml version="1.0"?>
<ruleset name="Rich Statistics">
    <description>PHPCS configuration for Rich Statistics.</description>

    <file>.</file>
    <exclude-pattern>vendor/</exclude-pattern>
    <exclude-pattern>freemius/</exclude-pattern>
    <exclude-pattern>node_modules/</exclude-pattern>
    <exclude-pattern>build/</exclude-pattern>
    <exclude-pattern>docs/</exclude-pattern>

    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName" />
        <exclude name="Generic.Commenting.DocComment.MissingShort" />
        <exclude name="WordPress.PHP.YodaConditions" />
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing" />
        <exclude name="Squiz.Commenting.VariableComment" />
        <exclude name="Squiz.Commenting.FunctionComment.Missing" />
        <exclude name="Squiz.Commenting.FunctionComment.MissingParamName" />
        <exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop" />
        <exclude name="Squiz.Commenting.ClassComment.Missing" />
        <exclude name="Squiz.Commenting.FileComment.Missing" />
        <exclude name="Squiz.PHP.DisallowMultipleAssignments" />
        <exclude name="Squiz.Commenting.InlineComment.InvalidEndChar" />
        <exclude name="Generic.Commenting.DocComment.MissingShort" />
        <exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
        <exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
        <exclude name="Generic.Arrays.DisallowShortArraySyntax" />
        <exclude name="Universal.Arrays.DisallowShortArraySyntax" />
        <exclude name="WordPress.Arrays.ArrayDeclarationSpacing" />
        <exclude name="WordPress.Arrays.ArrayKeySpacingRestrictions" />
    </rule>

    <config name="minimum_supported_wp_version" value="6.0" />
    <config name="testVersion" value="8.0-" />

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="rich-statistics" />
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.WP.Capabilities">
        <properties>
            <property name="custom_capabilities" type="array">
                <element value="rsa_manage_statistics" />
            </property>
        </properties>
    </rule>
</ruleset>
